
      <!-- Footer-->
	  <link rel="stylesheet" href="/css/css/footertemp.css">
       <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">



<!--footer starts from here-->
 <footer class="footer">
<div class="container bottom_border">
<div class="row">
<div class=" col-sm-4 col-md col-sm-4  col-12 col">

</div>


<div class=" col-sm-4 col-md  col-6 col">

<!--headin5_amrc-->

<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-6 col">

<!--footer_ul_amrc ends here-->
</div>


{{!-- <div class=" col-sm-4 col-md  col-12 col">

<h5 class="headin5_amrc col_white_amrc pt2">איך למצוא אותנו</h5>
<!--headin5_amrc-->
<p class="mb10">אנחנו נמצאים במכללה למנהל שלוחת אשדוד </p>
<p><i class="fa fa-location-arrow"></i> האורגים 31 </p>
<p><i class="fa fa-phone"><a style="text-decoration: none;" href="tel:0543018677">054-3018677</a></i> </p>
<p><i class="fa fa fa-envelope"><a style="text-decoration: none;"  href="mailto:Raz62015@gmail.com">Raz62015@gmail.com</a></i>   </p>

<!--footer_ul2_amrc ends here-->
</div> --}}

<div class="container">
<ul class="foote_bottom_ul_amrc">
<li><a href="/">דף הבית</a></li>
<li><a href="/about">אודות</a></li>
<li><a href="/info">תקנון וחוקים</a></li>
<li><a href="/negishot">נגישות</a></li>
<li><a href="/about#contact">צור קשר</a></li>
</ul>


<ul class="social_footer_ul">
<li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
</ul>
<!--social_footer_ul ends here-->
</div>
</div>
</div>



</footer> 


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
