 
<link rel="stylesheet" href="/css/css/homepage.css">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!"><img style="border-radius: 50%; border-style: solid;  border-color: black;" class="logo" src="https://w7.pngwing.com/pngs/504/14/png-transparent-family-logo-family.png" height="40"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/loginwm"> ניהול מערכת</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">דף הבית</a></li>
                        <li class="nav-item"><a class="nav-link" href="/info">תקנון וחוקים </a></li>
        
                        <li class="nav-item"><a style="color: orange;  text-shadow: 2px 2px orangered;" class="nav-link" href="/login">התחברות</a></li>
                    </ul>
                </div>
            </div>

        </nav>

                   {{!-- <div style="width: 20%;">
      <input type="text" id="input" class="form-control form-control-dark w-100" placeholder="Search" aria-label="Search" />
     </div> --}}
  {{!-- <div  >
    <h3><ul style="color: red;" id="suggestions"></ul></h3>
  </div> --}}


                        {{!-- <script>
                        (function () {
                        "use strict";
                        let inputField = document.getElementById('input');
                        let ulField = document.getElementById('suggestions');
                        inputField.addEventListener('input', changeAutoComplete);
                        ulField.addEventListener('click', selectItem);

                        function changeAutoComplete({ target }) {
                            let data = target.value;
                            ulField.innerHTML = ``;
                            if (data.length) {
                            let autoCompleteValues = autoComplete(data);
                            autoCompleteValues.forEach(value => { addItem(value); });
                            }
                        }

                        function autoComplete(inputValue) {
                            let destination = ["לא מצליח להרשם עם מייל מסויים", "לא מצליח להתחבר ", "לא מצליח לאפס סיסמא", "לא מקבל הודעות במייל","ההודעות מגיעות לספאם","תוכן פוגעני","שירות לקוחות","הצעות ייעול"];
                            return destination.filter(
                            (value) => value.toLowerCase().includes(inputValue.toLowerCase())
                            );
                        }

                        function addItem(value) {
                            ulField.innerHTML = ulField.innerHTML + `<li>${value}</li>`;
                        }

                        function selectItem({ target }) {
                            if (target.tagName === 'LI') {
                            inputField.value = target.textContent;
                            ulField.innerHTML = ``;
                            }
                        }
})();

   
                       </script> --}}
