
	
	 <div class="container login__container my-5">
        <div class="row login__row">
            <div class="col-md-6 d-flex">
                <img class="login__imagek align-self-center" src="https://www.freevector.com/uploads/vector/preview/28488/Businessman_Happy_Accepting_News.jpg"
                    width="100%" alt="" />
            </div>
            <div class="col-md-5 d-flex">
                <div class="align-self-center card login__card shadow-sm w-100">
                    <div class="card-body"  class="text-muted text-center">
                 
                            <h2 class="text-muted text-center">דף הרשמה</h2>
                       
                             <div  style="direction: rtl;"  >
                            
                                   
                                    <input id="email" type="text" class="form-control form-control-lg"  placeholder="הכנס את האימייל שלך"/><br>
                                   <div >
                                    <div>
                               
                                    <input id="psw" type="password" name="psw" class="form-control form-control-lg"  placeholder="הכנס את הסיסמה" title="חייב להכיל לפחות ספרה אחת ואות גדולה וקטנה אחת, ולפחות 8 תווים או יותר" required/>
                                 </div>  <br>
                                
                                </div>       
                                         <h4 id="literal"></h4>
                            </div>
                            <div  class="text-muted text-center">
                                <button  class="btn btn-primary" onclick="logincheck()"> התחברות</button>
                                  <h4><a style="text-decoration:none;" href="/register"> נרשמת כבר אצלנו?</a></h4>
                                     <h4><a style="text-decoration:none;" href="/recover"> שכחת סיסמא?</a></h4> 
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  


            
  <script src="/scripts/scripts/logintemp.js"></script>               
                      

      