
	
<link rel="stylesheet" href="/css/css/negishot.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--===============================header code==========================-->
	  <section class="page_mission">
 <div class="container-fluid" style="">
 <div class="row">
   <div class="module-header">
      <h2>מבוא</h2>
      <img src="assets/img/divider.png" alt="">
      <p>
אנו רואים חשיבות רבה במתן אפשרות שווה לאנשים עם מוגבלות להשתמש במידע המוצג באתר ולאפשר חווית גלישה טובה.

באתר הושקעו משאבים רבים להקלת השימוש בו עבור אנשים עם מוגבלויות.</p>
    </div> 
 </div>
 </div>
 

 
 
  </section>
 <div style="border-bottom:  4px solid rgb(0, 0, 0);" class="how-section1">
                    <div class="row">
                        <div class="col-md-6 how-img">
                            <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
                        </div>
                        <div class="col-md-6">
                          <h4 style="margin-left: 18%;">?כיצד עובדת ההנגשה באתר</h4>
                              <p style="text-align: center; text-align: justify;" class="text-muted">באתר מוצב תפריט הנגשה. לחיצה על התפריט מאפשרת פתיחת כפתורי ההנגשה. לאחר בחירת נושא בתפריט יש להמתין לטעינת הדף.
התוכנה פועלת בדפדפנים הפופולריים: Chrome, Firefox, Safari, Opera בכפוף לתנאי היצרן. הגלישה במצב נגישות מומלצת בדפדפן כרום.</p>
                        </div>
                    </div>



                     
   
                    <div class="row">
                        <div class="col-md-6">
                             <h4>:אפשרויות הנגישות בתפריט</h4>
                             <ul class="text-muted">
    <li>התאמה לניווט מקלדת- מתן אפשרות לניווט ע"י מקלדת</li>
    <li>התאמה לקורא מסך - התאמת האתר עבור טכנולוגיות מסייעות כגון NVDA , JAWS</li>
    <li>חסימת הבהובים - עצירת אלמנטים נעים וחסימת הבהובים</li>
    <li>הגדלת פונט האתר ל-4 גדלים שונים</li>
    <li>התאמות ניגודיות - שינוי ניגודיות צבעי האתר</li>
    <li>התאמת האתר לעיוורי צבעים</li>
    <li>שינוי הפונט לקריא יותר</li>
    <li>הגדלת הסמן ושינוי צבעו לשחור או לבן</li>
    <li>הגדלת התצוגה לכ-200%</li>
    <li>הדגשת קישורים באתר</li>
    <li>הדגשת כותרות באתר</li>
    <li>הצגת תיאור אלטרנטיבי לתמונות</li>
    <li>הצהרת נגישות</li>
    <li>שליחת משוב נגישות</li>
  </ul>
                        </div>
                        <div class="col-md-6 how-img">
                            <img src="https://image.ibb.co/cHgKnU/Work_Section2_freelance_img2.png" class="rounded-circle img-fluid" alt=""/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 how-img">
                             <img src="https://image.ibb.co/ctSLu9/Work_Section2_freelance_img3.png" class="rounded-circle img-fluid" alt=""/>
                        </div>
                        <div class="col-md-6">
                       <h4 style="margin-left: 35%;">:פניה לרכז הנגישות</h4>
                        <ol  class="text-muted">
                          <li>אם במהלך הגלישה באתר נתקלתם בקושי בנושא נגישות, צוות הנגישות של החברה עומד לרשותכם במגוון ערוצים.</li>
                          <li>פרטי רכזת נגישות בחברה:</li>
                          <li>שם: טל אטלן</li>
                          <li>כתובת המייל: tal.atlan@deltagalil.com </li>
                          <li>טלפון: 076-8177122</li>
                        </ol>
                        </div>
                    </div>
                </div>

