<div class="container login__container my-5">
        <div class="row login__row">
            <div class="col-md-6 d-flex">
                <img class="login__imagek align-self-center" src="https://www.freevector.com/uploads/vector/preview/28488/Businessman_Happy_Accepting_News.jpg"
                    width="100%" alt="" />
            </div>
            <div class="col-md-5 d-flex">
                <div class="align-self-center card login__card shadow-sm w-100">
                    <div class="card-body">
                        
                               <h2 class="text-muted text-center">דף איפוס סיסמא</h2>
                      
                            <div class="">
                                <div style=" direction: rtl;" class="form-group">
                      
                                    <input id="email" type="email" class="form-control form-control-lg"  placeholder="הכנס את האימייל שלך" required/>

                                </div>
                                <div style=" direction: rtl;" class="form-group">
                            
                                     <input  id="psw" type="text" class="form-control form-control-lg" name="fullname" placeholder="סיסמה זמנית" title="" required>
                                </div>


                                   <div style=" direction: rtl;" class="form-group">
                                    
                                     <input  id="tmppassword" type="password" class="form-control form-control-lg" name="psw" placeholder="הכנס את הסיסמה חדשה"  required>
                                </div>

                              <h4 id="literal"></h4>
                                <div class="form-group">
                                  <button class="btn btn-primary"  onclick="validatePassword()" >אפס סיסמא</button>
                                
                                    <div class="d-flex justify-content-between">
                                  
                                      
                                    </div>
                                 
                                </div>

                            </div>
                   						<div style=" direction: rtl; display:none;" id="message">
  <h3 style=" direction: rtl;">הסיסמה חייבת להכיל את הדברים הבאים:</h3>
  <p  id="letter" class="invalid"><b >אותיות קטנות</b></p>
  <p id="capital" class="invalid"><b>אותיות רישיות</b></p>
  <p id="number" class="invalid"><b>מספר</b></p>
  <p id="length" class="invalid">מִינִימוּם <b>8 תווים</b></p>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <script src="/scripts/scripts/resettemplate.js"></script>  
