<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/css/info.css">
    <title>注 </title>

</head>
<body style="background-color: rgba(0, 255, 255, 0.418);">
    {{>homepage}}
    <div style=" border-bottom:  4px solid rgb(0, 0, 0);" class="how-section1">
                    <div class="row">
                        <div class="col-md-6 how-img">
                            <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h4 style=" direction: rtl;">住转 注 转 拽</h4>
                        <p class="text-muted">
                          <ul style=" direction: rtl;">
                            <li>  砖 拽 砖拽 转 砖转祝 驻转 砖转</li>
                            <li>拽专 住 转     砖 砖,    转   砖 拽砖 抓 .</li>
                            <li> 砖, 砖转 2019 驻住拽 转 砖驻 注 砖驻     注 爪专 砖专 砖砖 专 爪.</li>
                            <li> 转  抓  砖  砖   . 转  抓  砖  砖   .y 砖转 2008 注 注抓 砖驻 砖  住转 转转, 砖专 专 转  抓, 转  住 拽砖转 砖  </li>
                            <li>驻  (专   )  转 注 抓   转 住转 转</li>
                            <li> 爪  砖拽砖 抓 转  (砖 拽专 砖 抓  专 注 转).</li>
                            <li>  驻专,  拽砖 抓 转 .</li>
                            <li>专  驻专,  拽专 砖驻转 拽砖 抓 转.</li>
                            </ul>
                              <h4 class="subheading" style=" direction: rtl;">住祝, 爪专 转拽  转 :</h4>
                            <ol style=" direction: rtl;">
                              <li>  驻专砖     砖   专 爪  18 砖 驻转  注 注 43 砖. 转 专   砖专 抓  砖 /转 ,   转 砖驻 转专砖   转 . </li>
                              <li>专 爪 爪专 转  转 转   抓.</li>
                              <li>专 爪 住 驻转 12 砖转 .</li>
                              <li>专 爪 砖 住 拽注 转 驻专住 注转 爪专 砖转 砖  抓.</li>
                              <li>驻砖专转 专 爪 爪注 转 专 住专,  专 驻专 注专  抓.</li>
                              <li> 专 爪  专砖注 注专  拽, 注专转   注专转 转,  注专 专转 砖驻住转 转 砖砖 专 抓 转 砖拽 注转 注"住.</li>
                              <li>专 爪 专 驻砖转 驻转.</li>
                              <li>转驻拽 砖驻转,  专转 砖 专 爪 转拽.</li>
                              <li>注-驻 转专砖转 注"住, 专 爪 住 转 注 砖转 抓.</li>
                            </ol>
                        
                        </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 style=" direction: rtl;">  驻?</h4>
                                               <ul style=" direction: rtl;">
                                                <li> 砖注 抓  专抓  砖 注 抓, 爪专驻 转 住 </li>
                                              </ul>
                                                 <ol style=" direction: rtl;">
                                                    <li>转 注转 砖  /砖驻 ( 转转 专).</li>
                                                    <li>爪 转注转 转 砖   拽砖,  住驻.</li>
                                                    <li>住 专砖 注 注 注 砖 ( 爪 转注转 砖).</li>
                                                    <li>转转 , 转 , 砖   拽砖.</li>
                                                    <li>砖专 注 注 住转 (爪 驻住 106,  驻住 砖 专 住 住,  3 转砖 砖专转).</li>
                                                </ol>
                                                <ul style=" direction: rtl;">
                                                <li>砖 砖 转 驻住 砖 住  专转 砖专转 注   砖转专专 .</li>
                                                <li>转专 专砖 砖专转 拽注 注-驻  砖 转拽 住.</li>
                                                </ul>
                        </div>
                        <div class="col-md-6 how-img">
                            <img src="https://image.ibb.co/cHgKnU/Work_Section2_freelance_img2.png" class="rounded-circle img-fluid" alt=""/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 how-img">
                             <img src="https://image.ibb.co/ctSLu9/Work_Section2_freelance_img3.png" class="rounded-circle img-fluid" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h4 style=" direction: rtl;">砖 </h4>
                                        <p class="text-muted">
                                              <ul style=" direction: rtl;">
                                                <li>专 拽转 砖 住 爪专驻, 驻  驻砖 注 注转 住爪转 砖专转 注  砖转 转 专 转.</li>
                                                <li>转  住驻专 驻砖 注 注转 住爪转,  驻住 拽专 转 砖 注 抓, 砖  住专转 拽爪转转  转驻拽 砖 专 爪.</li>
                                              </ul>
                                        </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 style=" direction: rtl;">砖 注转</h4>
                                        <p class="text-muted">
                                          <ul style=" direction: rtl;">
                                            <li>转   拽 注驻转 抓 转拽转  注  砖转.</li>
                                            <li>转 砖 专 专   转   住 ,  抓  注  砖转   注 爪专 .</li>
                                            <li>   转   驻住 砖砖 专 爪,  转 转 转拽 砖 注转  注 砖专 抓. 驻专 住驻 专  驻专 抓.</li>
                                            <li>   抓 转   砖 转/ .</li>
                                            <li>拽专 砖驻 砖  爪 (   住)  抓 转   转 砖驻 专 转.</li>
                                          </ul>
                                        </p>
                        </div>
                        <div class="col-md-6 how-img">
                            <img src="https://image.ibb.co/gQ9iE9/Work_Section2_freelance_img4.png" class="rounded-circle img-fluid" alt=""/>
                        </div>
                    </div>

                       <div class="row">
                        <div class="col-md-6 how-img">
                      
                        </div>
                        <div class="col-md-6">
                            <h4 style=" direction: rtl;">拽专转 砖驻 专砖</h4>
                             <h4 class="subheading" style=" direction: rtl;">拽拽 </h4>
                        <p  style=" direction: rtl;" class="text-muted">
                       <a href="https://www.nevo.co.il/law_html/Law01/055_075.htm#Seif3">拽 抓 </a>
                        </p>
                        </div>
                    </div>
                </div>
                  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
                {{>footertemp}}      
</body>
</html>